<h1 class="title" {{ if .Site.Params.Rtl }}dir="rtl"{{ end }}>
	{{ if eq .URL "/posts/" }} مقالات {{ end }}
	{{ if eq .URL "/tags/" }} تگ ها {{ end }}
</h1><hr>

<ul class="posts" {{ if .Site.Params.Rtl }}dir="rtl"{{ end }}>
    {{ range .Data.Pages -}}
    <li>
        <span>
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a> &nbsp; » &nbsp;
            {{ if not .Date.IsZero }}
            <time class="post-list" style="font-size: 14px;">
				<script>
					document.write("تاریخ انتشار : " + JDate({{ .Date.Format (.Site.Params.dateformat) }}).toString());
				</script>
            </time>    
            {{end}}
        </span>
    </li>
    {{- end }}
</ul>