<div class="post">
  <h1 class="postTitle">{{ .Title | markdownify }}</h1>
  {{ if ne .Params.showpagemeta false }}
  <div class="col-sm-12 col-md-12">
    <span class="text-left post-date meta">
      <!-- published date -->      
      {{ if not .Date.IsZero }} 
        <i class="fas fa-calendar-alt"></i> <span class="subtitle">Publish Date: {{ .Date | time.Format ":date_medium" }}</span>
      {{ end }}
      <!-- tags -->
      {{ with .Params.tags }}
        {{ $total := len . }}
        {{ if gt $total 0 }}
            <br/>
            {{ $subtotal := sub $total 1 }} <i class="fas fa-tags"></i>
			      
            Tags:
            {{ range $i, $tag := sort . }}
                {{ if gt $i 0 }},{{ end }}
                <a class="meta" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>{{ if lt $i $subtotal }}
            {{ end }}
        {{ end }}
      {{ end }}
  {{ end }}
      <br/>
      </span>  
  </div><hr>    
  {{ end }}
  {{ .Content }}
</div><hr>