<div class="post" {{ if .Site.Params.Rtl }}dir="rtl"{{ end }}>
  <h1 class="postTitle">{{ .Title }}</h1>
  {{ if ne .Params.showpagemeta false }}
  <div class="col-sm-12 col-md-12">
    <span class="text-left post-date meta">
      <!-- published date -->      
      {{ if not .Date.IsZero }} 
        <i class="fas fa-calendar-alt"></i> <span id="shamsiDate" class="subtitle"></span>
		<script>
			let shamsiDate = JDate({{ .Date.Format (.Site.Params.dateformat) }}).toString();
			document.getElementById("shamsiDate").innerText = "تاریخ انتشار : " + shamsiDate;
		</script>
      {{ end }}
      <!-- tags -->
      {{ with .Params.tags }}
        {{ $total := len . }}
        {{ if gt $total 0 }}
            <br/>
            {{ $subtotal := sub $total 1 }} <i class="fas fa-tags"></i>
			تگ ها :
            {{ range $i, $tag := sort . }},
            <a class="meta" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>{{ if lt $i $subtotal }} {{ end }}
        {{ end }}
      {{ end }}
      {{ end }}
      <br/>
      <i class="fas fa-clock"></i> <span class="subtitle">زمان حدودی مطالعه : {{ .ReadingTime }} دقیقه</span>
      </span>  
  </div><hr>    
  {{ end }}
  {{ .Content }}
</div><hr>