<div class="sidebar">
  <div class="container text-center {{ if .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about text-center">
      {{ with .Site.Params.authorimage }} <img src="{{.}}" alt="Moien Tajik's Image" class="img-circle headshot center"> {{ end }}
	  <a href="{{ .Site.BaseURL }}" class="no-decoration"><h1 class="brand">{{ .Site.Params.Author }}</h1></a>
      <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{ else }} Your site's description {{end}}
      </p>
    </div>
    {{ partial "sidebar_menu.html" . }}
    <p>
      {{ partial "sidebar_social.html" . }}
    </p>
    <p class="copyright">{{ with .Site.Params.copyright }}{{.|safeHTML}}{{ else }}&copy; {{ now.Format "2006"}} {{.Site.Params.author}}</br>
      <a href="https://creativecommons.org/licenses/by/4.0">All rights reserved</a>{{end}}
    </p>
  </div>
  <div>
  </div>
</div>
